html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}
#root {
  display: grid;
  place-items: center;
  padding: 8px;
  box-sizing: border-box;
}
.mermaid {
  width: 100%;
  height: 100%;
  overflow: auto;
}
